/* Heading */

.ph-h-header {
  font-family: var(--font-header);
  color: var(--color-foreground-default);

  &--big {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: -0.02em;
  }

  &--default {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: -0.02em;
  }

  &--small {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
  }

  &--white {
    color: var(--color-white);
  }

  &--black {
    color: var(--color-black);
  }
}

.ph-b-subheader {
  font-family: var(--font-subheader);
  color: var(--color-foreground-default);

  &--big {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.02em;
  }

  &--default {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
  }

  &--white {
    color: var(--color-white);
  }

  &--black {
    color: var(--color-black);
  }
}

/* Text */

.ph-b-body {
  font-family: var(--font-body);
  color: var(--color-foreground-default);

  &--normal {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &--bold {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &--small {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  &--white {
    color: var(--color-white);
  }

  &--black {
    color: var(--color-black);
  }
}

.ph-b-code {
  font-family: var(--font-code);
  color: var(--color-foreground-default);

  &--normal {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  &--bold {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  &--white {
    color: var(--color-white);
  }

  &--black {
    color: var(--color-black);
  }
}

.ph-b-btn {
  font-family: var(--font-button);
  color: var(--color-foreground-default);

  &--small {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &--default {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &--big {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &--white {
    color: var(--color-white);
  }

  &--black {
    color: var(--color-black);
  }
}

.ph-b-dropdown {
  &--default {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08em;
  }
}
