.ph-p-leaderboard {
  @include flex-center;

  position: absolute;
  width: 100%;
  height: 100%;

  &__panel {
    width: 500px;
    height: 600px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }
}

.ph-p-leaderboard-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    gap: 21px;
  }
}
