.ph-c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: var(--font-button);
  border-radius: var(--border-radius);
  border: none;
  text-align: center;
  white-space: nowrap;
  transition: 0.5s padding ease;
  transition: 0.5s width ease;

  &--primary {
    background: var(--color-primary-default);
    color: var(--color-white);

    &:hover {
      background: var(--color-primary-dimmer);
    }

    &:active {
      background: var(--color-primary-dimmest);
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &--secondary {
    background: var(--color-background-default);
    border: 1px solid var(--color-primary-default);
    color: var(--color-primary-default);

    &:hover {
      background: var(--color-background-higher);
    }

    &:active {
      background: var(--color-background-highest);
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &--tertiary {
    color: var(--color-foreground-default);
    background: transparent;

    &:hover {
      background: var(--color-background-higher);
    }

    &:active {
      background: var(--color-background-highest);
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &--positive {
    background: var(--color-positive-default);
    color: var(--color-white);

    &:hover {
      background: var(--color-positive-dimmer);
    }

    &:active {
      background: var(--color-positive-dimmest);
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &--negative {
    background: var(--color-negative-default);
    color: var(--color-white);

    &:hover {
      background: var(--color-negative-dimmer);
    }

    &:active {
      background: var(--color-negative-dimmest);
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &--negative-secondary {
    background: var(--color-background-default);
    border: 1px solid var(--color-negative-default);
    color: var(--color-negative-default);

    &:hover {
      background: var(--color-background-higher);
    }

    &:active {
      background: var(--color-background-highest);
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &--icon-right {
    flex-direction: row;
  }

  &--icon-left {
    flex-direction: row-reverse;
  }

  &--small {
    @extend .ph-b-btn--small;
    padding: 0 14px;
    height: 36px;
  }

  &--default {
    @extend .ph-b-btn--default;
    padding: 0 26px;
    height: 48px;
  }

  &--big {
    @extend .ph-b-btn--big;
    padding: 0 38px;
    height: 60px;
  }
}

.ph-c-icon-btn {
  @include flex-center;
  border-radius: var(--border-radius);
  border: none;

  &--primary {
    background: var(--color-primary-default);
    color: var(--color-white);

    &:hover {
      background: var(--color-primary-dimmer);
    }

    &:active {
      background: var(--color-primary-dimmest);
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  &--small {
    height: 36px;
    width: 36px;
  }

  &--default {
    height: 48px;
    width: 48px;
  }

  &--big {
    height: 60px;
    width: 60px;
  }

  &__image {
    &--small {
      height: 18px;
      width: 18px;
    }

    &--default {
      height: 24px;
      width: 24px;
    }

    &--big {
      height: 32px;
      width: 32px;
    }
  }
}
