.ph-c-divider {
  &--vertical {
    border-left: 1px solid;
    height: 100%;
  }

  &--horizontal {
    width: 100%;
    border-top: 1px solid;
  }

  &--subtle {
    border-color: var(--color-outline-dimmer);
  }

  &--default {
    border-color: var(--color-outline-default);
  }
}
