.ph-c-divider {
  &--vertical {
    width: 1px;
    height: 100%;
  }

  &--horizontal {
    width: 100%;
    height: 1px;
  }

  &--subtle {
    background: var(--color-outline-dimmer);
  }

  &--default {
    background: var(--color-outline-default);
  }
}
