.ph-c-editor {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__editing-area {
    height: 100%;
    overflow-y: auto;
  }

  &__bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 26px;
    height: 30px;

    background: var(--color-background-default);
    border-radius: var(--border-radius);
  }
}
