.ph-c-log-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-radius: var(--border-radius);

  &--result {
    background: var(--color-background-higher);
  }

  &--message {
    background: var(--color-background-higher);
  }

  &--error {
    background: var(--color-negative-strongest);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }
}
