.ph-l-game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "question editor"
    "test-cases output";

  height: 100%;
  width: 100%;

  grid-gap: 20px;
  padding: 20px;

  background: var(--color-background-root);

  &__question {
    grid-area: question;
  }

  &__editor {
    grid-area: editor;
  }

  &__testCases {
    grid-area: test-cases;
  }

  &__output {
    grid-area: output;
    overflow-y: auto;
  }
}

.ph-l-lobby {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "main players";

  height: 100%;
  width: 100%;

  grid-gap: 20px;
  padding: 20px;

  background: var(--color-background-root);

  &--user {
    display: flex;
  }

  &__players {
    grid-area: players;
  }

  &__main {
    display: flex;
    flex-direction: column;

    grid-area: main;
  }
}
