.ph-l-game {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__header {
    background: var(--color-background-default);
    border-bottom: 0.5px solid var(--color-outline-default);
    height: 60px;
    width: 100%;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 30%;
    grid-template-areas:
      "question editor"
      "test-cases output";

    height: calc(100vh - 60px);
    max-height: 100%;
    width: 100%;

    grid-gap: 20px;
    padding: 20px;

    background: var(--color-background-root);
  }

  &__question {
    resize: both;
    grid-area: question;
  }

  &__editor {
    grid-area: editor;
  }

  &__testCases {
    grid-area: test-cases;
  }

  &__output {
    grid-area: output;
    overflow-y: auto;
  }
}

.ph-l-lobby {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "main players";

  height: 100%;
  width: 100%;

  grid-gap: 20px;
  padding: 20px;

  background: var(--color-background-root);

  &--user {
    display: flex;
  }

  &__players {
    grid-area: players;
  }

  &__main {
    display: flex;
    flex-direction: column;

    grid-area: main;
  }
}
